/** Sidebar **/

:root {
    --sidebar-width-default: 16rem;
    --sidebar-width-mobile-default: 18rem;
    --sidebar-width-icon-default: 3rem;

    --sidebar-container-padding: calc(var(--spacing) * 2);
    --sidebar-container-padding-with-border: calc(var(--spacing) * 4 + 2px);
    --sidebar-trigger-size: calc(var(--spacing) * 7);
    --sidebar-rail-width: calc(var(--spacing) * 4);
    --sidebar-rail-offset: calc(var(--spacing) * -4);
    --sidebar-rail-collapsed-offset: calc(var(--spacing) * -2);
    --sidebar-rail-translate-x: -50%;
    --sidebar-rail-line-width: 2px;
    --sidebar-rail-collapsed-bg: var(--sidebar);

    --sidebar-inset-margin: calc(var(--spacing) * 2);
    --sidebar-inset-radius: var(--radius-xl);
    --sidebar-floating-radius: var(--radius-lg);

    --sidebar-input-height: calc(var(--spacing) * 8);
    --sidebar-section-gap: calc(var(--spacing) * 2);
    --sidebar-section-padding: calc(var(--spacing) * 2);
    --sidebar-separator-margin-x: calc(var(--spacing) * 2);

    --sidebar-group-label-height: calc(var(--spacing) * 8);
    --sidebar-group-label-radius: var(--radius-md);
    --sidebar-group-label-padding-x: calc(var(--spacing) * 2);
    --sidebar-group-label-icon-size: calc(var(--spacing) * 4);
    --sidebar-group-label-collapsed-margin-top: calc(var(--spacing) * -8);
    --sidebar-group-label-ring-width-focus: 2px;

    --sidebar-group-action-top: calc(var(--spacing) * 3.5);
    --sidebar-group-action-right: calc(var(--spacing) * 3);
    --sidebar-group-action-width: calc(var(--spacing) * 5);
    --sidebar-group-action-radius: var(--radius-md);
    --sidebar-group-action-hit-area: calc(var(--spacing) * -2);
    --sidebar-group-action-ring-width-focus: 2px;
    --sidebar-group-action-icon-size: calc(var(--spacing) * 4);

    --sidebar-menu-gap: calc(var(--spacing) * 1);
    --sidebar-menu-button-gap: calc(var(--spacing) * 2);
    --sidebar-menu-button-radius: var(--radius-md);
    --sidebar-menu-button-padding: calc(var(--spacing) * 2);
    --sidebar-menu-button-padding-right-with-action: calc(var(--spacing) * 8);
    --sidebar-menu-button-icon-size: calc(var(--spacing) * 4);
    --sidebar-menu-button-collapsed-size: calc(var(--spacing) * 8);
    --sidebar-menu-button-height: calc(var(--spacing) * 8);
    --sidebar-menu-button-height-sm: calc(var(--spacing) * 7);
    --sidebar-menu-button-height-lg: calc(var(--spacing) * 12);
    --sidebar-menu-button-ring-width-focus: 2px;

    --sidebar-menu-action-top: calc(var(--spacing) * 1.5);
    --sidebar-menu-action-top-sm: calc(var(--spacing) * 1);
    --sidebar-menu-action-top-lg: calc(var(--spacing) * 2.5);
    --sidebar-menu-action-right: calc(var(--spacing) * 1);
    --sidebar-menu-action-width: calc(var(--spacing) * 5);
    --sidebar-menu-action-radius: var(--radius-md);
    --sidebar-menu-action-hit-area: calc(var(--spacing) * -2);
    --sidebar-menu-action-ring-width-focus: 2px;
    --sidebar-menu-action-icon-size: calc(var(--spacing) * 4);

    --sidebar-menu-badge-right: calc(var(--spacing) * 1);
    --sidebar-menu-badge-height: calc(var(--spacing) * 5);
    --sidebar-menu-badge-min-width: calc(var(--spacing) * 5);
    --sidebar-menu-badge-radius: var(--radius-md);
    --sidebar-menu-badge-padding-x: calc(var(--spacing) * 1);

    --sidebar-menu-skeleton-height: calc(var(--spacing) * 8);
    --sidebar-menu-skeleton-gap: calc(var(--spacing) * 2);
    --sidebar-menu-skeleton-radius: var(--radius-md);
    --sidebar-menu-skeleton-padding-x: calc(var(--spacing) * 2);
    --sidebar-menu-skeleton-icon-size: calc(var(--spacing) * 4);
    --sidebar-menu-skeleton-text-height: calc(var(--spacing) * 4);

    --sidebar-menu-sub-margin-x: calc(var(--spacing) * 3.5);
    --sidebar-menu-sub-translate-x: 1px;
    --sidebar-menu-sub-gap: calc(var(--spacing) * 1);
    --sidebar-menu-sub-border-color: var(--sidebar-border);
    --sidebar-menu-sub-padding-x: calc(var(--spacing) * 2.5);
    --sidebar-menu-sub-padding-y: calc(var(--spacing) * 0.5);
    --sidebar-menu-sub-button-height: calc(var(--spacing) * 7);
    --sidebar-menu-sub-button-gap: calc(var(--spacing) * 2);
    --sidebar-menu-sub-button-radius: var(--radius-md);
    --sidebar-menu-sub-button-padding-x: calc(var(--spacing) * 2);
    --sidebar-menu-sub-button-translate-x: 1px;
    --sidebar-menu-sub-button-icon-size: calc(var(--spacing) * 4);
    --sidebar-menu-sub-button-ring-width-focus: 2px;

    --sidebar-shadow-outline: 0 0 0 1px hsl(var(--sidebar-border));
    --sidebar-shadow-outline-hover: 0 0 0 1px hsl(var(--sidebar-accent));
}