:root {
    /** Tabs (container + list) */
    --tabs-bg: var(--muted);
    --tabs-fg: var(--muted-foreground);
    --tabs-border: var(--border);
    --tabs-size-md: var(--control-size-md);
    --tabs-radius: var(--radius-lg);
    --tabs-padding: var(--space-sm);
    --tabs-gap: var(--space-md);
    --tabs-line-gap: var(--space-sm);

    /** Tabs item (trigger) */
    --tabs-item-gap: var(--space-md);
    --tabs-item-padding-x: var(--space-md);
    --tabs-item-padding-y: var(--space-sm);
    --tabs-item-radius: var(--radius-md);
    --tabs-item-height: 100%;

    --tabs-item-bg: transparent;
    --tabs-item-border: transparent; 
    --tabs-item-border-active: transparent;

    /* text-foreground/60 */
    --tabs-item-fg: color-mix(in oklab, var(--foreground) 60%, transparent);

    --tabs-item-bg-hover: transparent;
    --tabs-item-fg-hover: var(--foreground);

    --tabs-item-bg-active: var(--background);
    --tabs-item-fg-active: var(--foreground);

    /** Indicator cho variant=line */
    --tabs-indicator-color: var(--foreground);
    --tabs-indicator-thickness-horizontal: var(--border-width-thick);
    --tabs-indicator-thickness-vertical: var(--border-width-thick);

    --tabs-indicator-offset-horizontal: calc(var(--space-sm) * -1); 
    --tabs-indicator-offset-vertical: calc(var(--space-sm) * -1);
}

.dark {
    --tabs-item-fg: var(--muted-foreground);
    --tabs-item-bg-active: color-mix(in oklab, var(--input) 30%, transparent);
    --tabs-item-border-active: var(--input);
}
