/** Alert **/

:root {
    --alert-gap-y: var(--space-xs);
    --alert-gap-x: var(--space-lg);
    --alert-radius: var(--radius-lg);
    --alert-border-color: var(--border);
    --alert-padding-x: var(--space-xl);
    --alert-padding-y: var(--space-lg);
    --alert-icon-size: var(--icon-size-md);
    --alert-icon-translate-y: var(--space-xs);

    --alert-title-min-height: var(--space-xl);
    --alert-description-gap: var(--space-sm);
}