/** Avatar **/

:root {
    --avatar-size: var(--size-md);
    --avatar-size-sm: var(--size-sm);
    --avatar-size-lg: var(--size-lg);
    --avatar-ring-width: var(--border-width-thick);
    --avatar-ring-color: var(--background);

    --avatar-icon-size: var(--icon-size-md);
    --avatar-icon-size-sm: var(--icon-size-sm);
    --avatar-icon-size-lg: var(--icon-size-lg);

    --avatar-badge-size-sm: calc(var(--avatar-size) / 5);
    --avatar-badge-size: calc(var(--avatar-size) / 4);
    --avatar-badge-size-lg: calc(var(--avatar-size) / 3);
    --avatar-badge-icon-size: calc(var(--avatar-size) /5);

    --avatar-group-space-x: calc(var(--space-md) * -2);
}