/** Badge **/

:root {
    --badge-gap: calc(var(--spacing) * 1);
    --badge-radius: 9999px;
    --badge-border-color: transparent;
    --badge-padding-x: calc(var(--spacing) * 2);
    --badge-padding-y: calc(var(--spacing) * 0.5);
    --badge-icon-size: calc(var(--spacing) * 3);

    --badge-focus-border-color: var(--ring);
    --badge-focus-ring-width: 3px;
    --badge-focus-ring-color: color-mix(in oklab, var(--ring) 50%, transparent);

    --badge-invalid-border-color: var(--destructive);
    --badge-invalid-ring-color: color-mix(in oklab, var(--destructive) 20%, transparent);
    --badge-invalid-ring-color-dark: color-mix(in oklab, var(--destructive) 40%, transparent);

    --badge-destructive-focus-ring: color-mix(in oklab, var(--destructive) 20%, transparent);
    --badge-destructive-focus-ring-dark: color-mix(in oklab, var(--destructive) 40%, transparent);
}

.dark {
    --badge-invalid-ring-color: var(--badge-invalid-ring-color-dark);
    --badge-destructive-focus-ring: var(--badge-destructive-focus-ring-dark);
}