/** Button **/

:root {
    --btn-radius-xs: var(--radius-md);
    --btn-radius-sm: var(--radius-md);
    --btn-radius-md: var(--radius-md);

    --btn-group-radius: var(--radius-md);

    --btn-font-xs: var(--font-size-xs);
    --btn-font-sm: var(--font-size-xs);
    --btn-font-md: var(--font-size-sm);
    
    --btn-icon-size-md: var(--icon-size-md);
    --btn-icon-size-xs: var(--icon-size-xs);
    --btn-icon-size-sm: var(--icon-size-sm);

    --btn-size-xs: var(--size-xs);
    --btn-size-sm: var(--size-sm);
    --btn-size-md: var(--size-md);
    --btn-size-lg: var(--size-lg);

    --btn-gap-xs: var(--space-md);
    --btn-gap-sm: var(--space-md);
    --btn-gap-md: var(--space-md);
    --btn-gap-lg: var(--space-md);

    --btn-padding-x-xs: var(--space-md);
    --btn-padding-x-sm: var(--space-md);
    --btn-padding-x-md: var(--space-lg);
    --btn-padding-x-lg: var(--space-lg);

    --btn-has-icon-padding-xs: var(--space-sm);
    --btn-has-icon-padding-sm: var(--space-sm);
    --btn-has-icon-padding-md: var(--space-md);
    --btn-has-icon-padding-lg: var(--space-xl);
}
