/** Calendar **/

:root {
    --calendar-padding: 0;
    --calendar-cell-size: var(--input-size-md);
    
    --calendar-months-gap: calc(var(--spacing) * 4); /* For range picker */
    --calendar-month-gap: calc(var(--spacing) * 4);

    --calendar-nav-gap: calc(var(--spacing) * 1);
    --calendar-nav-icon-size: var(--icon-size-md);

    --calendar-dropdown-gap: calc(var(--spacing) * 1.5);
    --calendar-dropdown-radius: var(--input-radius-md);
    --calendar-dropdown-border-color: var(--input-border-color);
    --calendar-dropdown-border-color-focus: var(--input-border-color-focus);

    --calendar-caption-icon-size: var(--icon-size-sm);
    --calendar-range-radius: var(--input-radius-md);


    --calendar-weekday-radius: var(--input-radius-md);
    --calendar-weekday-text-size: 0.8rem;
    --calendar-week-number-text-size: 0.8rem;
    --calendar-week-margin-top: var(--space-md);
}