/** Drawer **/

:root {
    --drawer-body-margin: calc(var(--spacing) * 24);
    --drawer-max-height: 80vh;
    --drawer-side-width: 75%;
    --drawer-content-radius: var(--radius-lg);

    --drawer-handle-margin-top: var(--space-xl);
    --drawer-handle-height: var(--space-md);
    --drawer-handle-width: calc(var(--spacing) * 25);
    --drawer-handle-radius: var(--radius-full);

    --drawer-header-gap: var(--space-xs);
    --drawer-padding: var(--space-xl);
    --drawer-footer-gap: var(--space-md);
    --drawer-description-font-size: var(--font-size-sm);
}
