/** Popover **/

:root {
    --popover-content-width: calc(var(--space-sm) * 72);
    --popover-content-padding: var(--space-xl);
    --popover-header-gap: var(--space-sm);

    --popover-content-radius: var(--radius-md);
    --popover-content-border-color: var(--border);
}
