/** Sidebar **/

:root {
    --sidebar-width-default: 16rem;
    --sidebar-width-mobile-default: 18rem;
    --sidebar-width-icon-default: 3rem;

    --sidebar-container-padding: var(--space-md);
    --sidebar-container-padding-with-border: calc(var(--spacing) * 4 + 2px);

    --sidebar-trigger-size: var(--size-md);

    --sidebar-rail-width: var(--space-lg);
    --sidebar-rail-offset: calc(var(--sidebar-rail-width) * -1);
    --sidebar-rail-collapsed-offset: calc(var(--sidebar-rail-offset) / 2);
    --sidebar-rail-translate-x: -50%;
    --sidebar-rail-line-width: 2px;
    --sidebar-rail-collapsed-bg: var(--sidebar);

    --sidebar-inset-margin: var(--space-md);
    --sidebar-inset-radius: var(--radius-xl);
    --sidebar-floating-radius: var(--radius-lg);

    --sidebar-height: var(--size-md);
    --sidebar-section-gap: var(--space-md);
    --sidebar-section-padding: var(--space-md);
    --sidebar-separator-margin-x: var(--space-md);

    --sidebar-menu-gap: var(--space-sm);
    
    --sidebar-group-label-height: var(--size-sm);
    --sidebar-group-label-padding-x: var(--space-md);
    --sidebar-group-label-icon-size: var(--icon-size-md);
    --sidebar-group-label-collapsed-margin-top: calc(var(--sidebar-group-label-height) * -1);

    --sidebar-group-action-top: var(--space-xl);
    --sidebar-group-action-right: var(--space-lg);
    --sidebar-group-action-width: var(--size-xs);
    --sidebar-group-action-radius: var(--radius-md);
    --sidebar-group-action-hit-area: calc(var(--space-md) * -1);
    --sidebar-group-action-icon-size: var(--icon-size-md);

    --sidebar-menu-button-gap: var(--space-md);
    --sidebar-menu-button-radius: var(--radius-md);
    --sidebar-menu-button-padding: var(--space-lg);
    --sidebar-menu-button-padding-right-with-action: var(--space-3xl);
    --sidebar-menu-button-icon-size: var(--icon-size-md);
    --sidebar-menu-button-collapsed-size: var(--size-sm);
    --sidebar-menu-button-height: var(--size-md);
    --sidebar-menu-button-height-sm: var(--size-sm);
    --sidebar-menu-button-height-lg: var(--size-lg);

    --sidebar-menu-action-top: var(--space-md);
    --sidebar-menu-action-top-sm: var(--space-sm);
    --sidebar-menu-action-top-lg: var(--space-lg);
    --sidebar-menu-action-right: var(--space-sm);
    --sidebar-menu-action-width: var(--size-xs);
    --sidebar-menu-action-radius: var(--radius-md);
    --sidebar-menu-action-hit-area: calc(var(--space-md) * -1);
    --sidebar-menu-action-icon-size: var(--icon-size-md);

    --sidebar-menu-badge-right: calc(var(--spacing) * 1);
    --sidebar-menu-badge-height: calc(var(--spacing) * 5);
    --sidebar-menu-badge-min-width: calc(var(--spacing) * 5);
    --sidebar-menu-badge-radius: var(--radius-md);
    --sidebar-menu-badge-padding-x: calc(var(--spacing) * 1);

    --sidebar-menu-skeleton-height: var(--size-sm);
    --sidebar-menu-skeleton-gap: var(--space-md);
    --sidebar-menu-skeleton-radius: var(--radius-md);
    --sidebar-menu-skeleton-padding-x: var(--space-md);
    --sidebar-menu-skeleton-icon-size: var(--icon-size-md);
    --sidebar-menu-skeleton-text-height: var(--icon-size-md);

    --sidebar-menu-sub-margin-x: var(--space-xl);
    --sidebar-menu-sub-translate-x: 1px;
    --sidebar-menu-sub-gap: var(--space-sm);
    --sidebar-menu-sub-border-color: var(--sidebar-border);
    --sidebar-menu-sub-padding-x: var(--space-xl);
    --sidebar-menu-sub-padding-y: var(--space-xs);
    --sidebar-menu-sub-button-height: var(--size-sm);
    --sidebar-menu-sub-button-gap: var(--space-md);
    --sidebar-menu-sub-button-radius: var(--radius-md);
    --sidebar-menu-sub-button-padding-x: var(--space-md);
    --sidebar-menu-sub-button-translate-x: 1px;
    --sidebar-menu-sub-button-icon-size: var(--icon-size-md);

    --sidebar-shadow-outline: 0 0 0 1px hsl(var(--sidebar-border));
    --sidebar-shadow-outline-hover: 0 0 0 1px hsl(var(--sidebar-accent));
}
