/** Table **/

:root {
    --table-footer-border-color: var(--border);
    --table-footer-bg: color-mix(in oklab, var(--muted) 50%, transparent);

    --table-row-border-color: var(--border);
    --table-row-bg-hover: color-mix(in oklab, var(--muted) 50%, transparent);
    --table-row-bg-selected: var(--muted);

    --table-head-height: calc(var(--spacing) * 10);
    --table-cell-padding: calc(var(--spacing) * 2);
    --table-checkbox-translate-y: 2px;

    --table-caption-margin-top: calc(var(--spacing) * 4);
}