/** Textarea **/

:root {
    --textarea-min-height: calc(var(--spacing) * 16);
    --textarea-radius: var(--radius-md);
    --textarea-padding-x: calc(var(--spacing) * 3);
    --textarea-padding-y: calc(var(--spacing) * 2);
    --textarea-border-color: var(--input);
    --textarea-bg: transparent;
    --textarea-placeholder-color: var(--muted-foreground);

    --textarea-focus-border-color: var(--ring);
    --textarea-focus-ring-width: 3px;
    --textarea-focus-ring-color: color-mix(in oklab, var(--ring) 50%, transparent);

    --textarea-invalid-border-color: var(--destructive);
    --textarea-invalid-ring-color: color-mix(in oklab, var(--destructive) 20%, transparent);
}

.dark {
    --textarea-bg: color-mix(in oklab, var(--input) 30%, transparent);
    --textarea-invalid-ring-color: color-mix(in oklab, var(--destructive) 40%, transparent);
}