/** Tooltip **/

:root {
    --tooltip-content-padding-x: var(--space-lg);
    --tooltip-content-padding-y: var(--space-md);
    --tooltip-content-radius: var(--radius-md);

    --tooltip-arrow-size: var(--icon-size-xs);
    --tooltip-arrow-translate-y: calc(-50% - 2px);
    --tooltip-arrow-radius: 2px;
}