/** Alert Dialog **/

:root {
    --alert-dialog-overlay-bg: var(--overlay-surface-scrim);

    --alert-dialog-content-max-width: calc(100% - 2rem);
    --alert-dialog-content-max-width-sm: 20rem;
    --alert-dialog-content-max-width-default-sm: 32rem;
    --alert-dialog-content-gap: var(--panel-gap-lg);
    --alert-dialog-content-radius: var(--panel-radius-lg);
    --alert-dialog-content-border-color: var(--surface-border);
    --alert-dialog-content-padding: var(--panel-padding-lg);

    --alert-dialog-header-gap: var(--space-1-5);
    --alert-dialog-header-media-gap-x: var(--space-6);
    --alert-dialog-footer-gap: var(--panel-gap-sm);

    --alert-dialog-media-size: var(--space-16);
    --alert-dialog-media-margin-bottom: var(--space-2);
    --alert-dialog-media-radius: var(--panel-radius-md);
    --alert-dialog-media-icon-size: var(--space-8);
}