/** Scroll Area **/

:root {
    --scroll-area-viewport-ring-width-focus: 3px;
    --scroll-area-viewport-ring-color-focus: color-mix(in oklab, var(--ring) 50%, transparent);
    --scroll-area-scrollbar-padding: 1px;
    --scroll-area-scrollbar-size: calc(var(--spacing) * 2.5);
    --scroll-area-thumb-radius: 9999px;
    --scroll-area-thumb-bg: var(--border);
}