/** Card **/

:root {
    --card-gap: calc(var(--spacing) * 6);
    --card-radius: var(--radius-xl);
    --card-border-color: var(--border);
    --card-padding-x: calc(var(--spacing) * 6);
    --card-padding-y: calc(var(--spacing) * 6);

    --card-header-gap: var(--spacing-base);
}