/** Button **/

:root {
    --btn-radius-xs: var(--control-radius-md);
    --btn-radius-sm: var(--control-radius-md);
    --btn-radius-md: var(--control-radius-md);
	
    --btn-group-radius: var(--control-radius-md);

    --btn-font-xs: var(--font-size-xs);
    --btn-font-sm: var(--font-size-xs);
    --btn-font-md: var(--font-size-sm);
    
    --btn-icon-size-md: var(--icon-size-md);
    --btn-icon-size-xs: var(--icon-size-xs);
    --btn-icon-size-sm: var(--icon-size-sm);

    --btn-size-xs: var(--control-size-xs);
    --btn-size-sm: var(--control-size-sm);
    --btn-size-md: var(--control-size-md);
    --btn-size-lg: var(--control-size-lg);

    --btn-gap-xs: var(--space-md);
    --btn-gap-sm: var(--space-md);
    --btn-gap-md: var(--space-md);
    --btn-gap-lg: var(--space-md);

    --btn-padding-x-xs: var(--space-md);
    --btn-padding-x-sm: var(--space-md);
    --btn-padding-x-md: var(--space-lg);
    --btn-padding-x-lg: var(--space-lg);

    --btn-has-icon-padding-xs: var(--space-sm);
    --btn-has-icon-padding-sm: var(--space-sm);
    --btn-has-icon-padding-md: var(--space-md);
    --btn-has-icon-padding-lg: var(--space-xl);

    --btn-outline-bg: var(--background);
    --btn-outline-bg-hover: var(--muted);

    --btn-outline-border-color: var(--border);

    --btn-ghost-bg-hover: var(--muted);

    --btn-destructive-bg: color-mix(in oklab, var(--destructive) 10%, transparent);
    --btn-destructive-bg-hover: color-mix(in oklab, var(--destructive) 20%, transparent);
}

.dark {
    --btn-outline-bg: var(--control-bg);
    --btn-outline-border-color: var(--control-border-color);
    --btn-outline-bg-hover: var(--control-bg-hover);

    --btn-ghost-bg-hover: color-mix(in oklab, var(--muted) 50%, transparent);

    --btn-destructive-bg: color-mix(in oklab, var(--destructive) 20%, transparent);
    --btn-destructive-bg-hover: color-mix(in oklab, var(--destructive) 30%, transparent);
}
