/** Button **/

:root {
	--btn-radius: var(--control-radius);
	--btn-radius-xs: min(var(--control-radius), 10px);
	--btn-radius-sm: min(var(--control-radius), 12px);
	--btn-group-radius: var(--control-radius);

	--btn-text-size: 0.875rem;
	--btn-text-size-xs: 0.75rem;
	--btn-text-size-sm: 0.8rem;

	--btn-ring-width-focus: var(--control-ring-width-focus);
	--btn-ring-width-invalid: var(--control-ring-width-invalid);
	--btn-ring-color-focus: var(--control-ring-color-focus);
	--btn-ring-color-invalid: var(--control-ring-color-invalid);

	--btn-border-color-invalid: var(--control-border-color-invalid);

	--btn-icon-size: calc(var(--spacing) * 4);
	--btn-icon-size-xs: calc(var(--spacing) * 3);
	--btn-icon-size-sm: calc(var(--spacing) * 3.5);

	--btn-height: var(--control-height);
	--btn-height-xs: var(--control-height-xs);
	--btn-height-sm: var(--control-height-sm);
	--btn-height-lg: var(--control-height-lg);

	--btn-gap: var(--control-gap);
	--btn-gap-xs: var(--control-gap-xs);
	--btn-gap-sm: var(--control-gap-sm);
	--btn-gap-lg: var(--control-gap-lg);

	--btn-padding-x: calc(var(--spacing) * 2.5);
	--btn-padding-x-xs: calc(var(--spacing) * 2);
	--btn-padding-x-sm: calc(var(--spacing) * 2.5);
	--btn-padding-x-lg: calc(var(--spacing) * 2.5);

	--btn-has-icon-padding: calc(var(--spacing) * 2);
	--btn-has-icon-padding-xs: calc(var(--spacing) * 1.5);
	--btn-has-icon-padding-sm: calc(var(--spacing) * 1.5);
	--btn-has-icon-padding-lg: calc(var(--spacing) * 3);

	--btn-size-icon: var(--control-height);
	--btn-size-icon-xs: var(--control-height-xs);
	--btn-size-icon-sm: var(--control-height-sm);
	--btn-size-icon-lg: var(--control-height-lg);

	--btn-outline-bg: var(--background);
	--btn-outline-bg-hover: var(--muted);

	--btn-outline-border-color: var(--border);

	--btn-ghost-bg-hover: var(--muted);

	--btn-destructive-bg: color-mix(in oklab, var(--destructive) 10%, transparent);
	--btn-destructive-bg-hover: color-mix(in oklab, var(--destructive) 20%, transparent);
	--btn-destructive-ring-color-focus: var(--control-ring-color-invalid);
	--btn-destructive-border-color-focus: color-mix(in oklab, var(--destructive) 40%, transparent);
}

.dark {
	--btn-outline-bg: var(--control-bg);
	--btn-outline-border-color: var(--control-border-color);
	--btn-outline-bg-hover: var(--control-bg-hover);

	--btn-ghost-bg-hover: color-mix(in oklab, var(--muted) 50%, transparent);

	--btn-destructive-bg: color-mix(in oklab, var(--destructive) 20%, transparent);
	--btn-destructive-bg-hover: color-mix(in oklab, var(--destructive) 30%, transparent);
	--btn-destructive-ring-color-focus: var(--control-ring-color-invalid);
}
