/** Input **/

:root {
    --input-height: var(--control-size-md);
    --input-radius: var(--control-radius-md);
    --input-padding-x: var(--control-padding-x);
    --input-padding-y: var(--control-padding-y);
    --input-file-height: var(--control-size-sm);

    --input-bg: var(--control-bg);

    --input-border-color: var(--control-border-color);
    --input-border-color-invalid: var(--control-border-color-invalid);

    --input-placeholder-color: var(--control-placeholder-color);

    --input-ring-color-invalid: var(--control-ring-color-invalid);
}