/** Input OTP **/

:root {
    --input-otp-gap: calc(var(--spacing) * 2);

    --input-otp-slot-size: var(--control-height);
    --input-otp-slot-radius: var(--control-radius);
    --input-otp-slot-border-color: var(--control-border-color);
    --input-otp-slot-bg: var(--control-bg);

    --input-otp-slot-border-color-active: var(--control-border-color-focus);
    --input-otp-slot-ring-width-active: var(--control-ring-width-focus);
    --input-otp-slot-ring-color-active: var(--control-ring-color-focus);

    --input-otp-slot-border-color-invalid: var(--control-border-color-invalid);
    --input-otp-slot-ring-color-invalid: var(--control-ring-color-invalid);

    --input-otp-caret-height: calc(var(--spacing) * 4);
    --input-otp-caret-width: 1px;
}