/** Input OTP **/

:root {
    --input-otp-gap: var(--space-md);

    --input-otp-slot-size: var(--control-size-md);
    --input-otp-slot-radius: var(--control-radius-md);
    --input-otp-slot-border-color: var(--control-border-color);
    --input-otp-slot-bg: var(--control-bg);

    --input-otp-slot-border-color-active: var(--control-border-color-focus);

    --input-otp-caret-height: calc(var(--input-otp-slot-size) / 2);
    --input-otp-caret-width: 1px;
}