/** Select **/

:root {
    --select-trigger-gap: var(--control-gap);
    --select-trigger-radius: var(--control-radius);
    --select-trigger-border-color: var(--control-border-color);
    --select-trigger-bg: var(--control-bg);
    --select-trigger-bg-hover: var(--control-bg-hover);
    --select-trigger-padding-x: var(--control-padding-x);
    --select-trigger-padding-y: var(--control-padding-y);
    --select-trigger-height: var(--control-height);
    --select-trigger-height-sm: var(--control-height-sm);
    --select-trigger-placeholder-color: var(--control-placeholder-color);

    --select-trigger-border-color-focus: var(--control-border-color-focus);
    --select-trigger-ring-width-focus: var(--control-ring-width-focus);
    --select-trigger-ring-color-focus: var(--control-ring-color-focus);

    --select-trigger-border-color-invalid: var(--control-border-color-invalid);
    --select-trigger-ring-color-invalid: var(--control-ring-color-invalid);

    --select-icon-size: calc(var(--spacing) * 4);
    --select-icon-opacity: 0.5;

    --select-content-min-width: calc(var(--spacing) * 32);
    --select-content-radius: var(--overlay-content-radius);
    --select-content-border-color: var(--overlay-content-border-color);
    --select-content-border-color-focus: var(--overlay-content-border-color-focus);
    --select-content-ring-width-focus: var(--overlay-content-ring-width-focus);
    --select-content-ring-color-focus: var(--overlay-content-ring-color-focus);
    --select-content-bg: var(--overlay-content-bg);
    --select-content-padding: var(--overlay-content-padding);

    --select-content-offset: calc(var(--spacing) * 1);
    --select-content-offset-negative: calc(var(--spacing) * -1);

    --select-label-padding-x: calc(var(--spacing) * 2);
    --select-label-padding-y: calc(var(--spacing) * 1.5);

    --select-item-gap: calc(var(--spacing) * 2);
    --select-item-radius: var(--radius-sm);
    --select-item-padding-y: calc(var(--spacing) * 1.5);
    --select-item-padding-right: calc(var(--spacing) * 8);
    --select-item-padding-left: calc(var(--spacing) * 2);

    --select-item-indicator-offset-right: calc(var(--spacing) * 2);
    --select-item-indicator-size: calc(var(--spacing) * 3.5);

    --select-separator-margin-x: calc(var(--spacing) * -1);
    --select-separator-margin-y: calc(var(--spacing) * 1);
    --select-separator-height: 1px;
    --select-separator-color: var(--border);

    --select-scroll-button-padding-y: calc(var(--spacing) * 1);
}