/** Select **/

:root {
    --select-trigger-gap: var(--control-gap-md);
    --select-trigger-radius: var(--control-radius-md);
    --select-trigger-border-color: var(--control-border-color);
    --select-trigger-bg: var(--control-bg);
    --select-trigger-bg-hover: var(--control-bg-hover);
    --select-trigger-padding-x: var(--control-padding-x);
    --select-trigger-padding-y: var(--control-padding-y);
    --select-trigger-height: var(--control-size-md);
    --select-trigger-height-sm: var(--control-size-sm);
    --select-trigger-placeholder-color: var(--control-placeholder-color);

    --select-trigger-border-color-invalid: var(--control-border-color-invalid);
    --select-trigger-ring-color-invalid: var(--control-ring-color-invalid);

    --select-icon-size: var(--menu-item-icon-size);
    --select-icon-opacity: 0.5;

    --select-content-min-width: var(--menu-content-min-width);
    --select-content-radius: var(--menu-content-radius);
    --select-content-border-color: var(--menu-content-border-color);
    --select-content-bg: var(--menu-content-bg);
    --select-content-padding: var(--menu-content-padding);

    --select-content-offset: var(--menu-content-side-offset);
    --select-content-offset-negative: calc(var(--menu-content-side-offset) * -1);

    --select-label-fg: var(--menu-label-fg);
    --select-label-font-size: var(--menu-label-font-size);
    --select-label-padding-x: var(--menu-label-padding-x);
    --select-label-padding-y: var(--menu-label-padding-y);

    --select-item-gap: var(--menu-item-gap);
    --select-item-radius: var(--menu-item-radius);
    --select-item-padding-y: var(--menu-item-padding-y);
    --select-item-padding-right: calc(var(--spacing) * 8);
    --select-item-padding-left: var(--menu-item-padding-x);

    --select-item-indicator-offset-right: var(--menu-item-padding-x);
    --select-item-indicator-size: calc(var(--spacing) * 3.5);

    --select-separator-margin-x: var(--menu-separator-margin-x);
    --select-separator-margin-y: var(--menu-separator-margin-y);
    --select-separator-height: var(--menu-separator-height);
    --select-separator-color: var(--menu-separator-color);

    --select-scroll-button-padding-y: calc(var(--spacing) * 1);
}
