/** Textarea **/

:root {
    --textarea-min-height: var(--spacing-5xl);
    --textarea-radius: var(--control-radius-md);
    --textarea-padding-x: var(--control-padding-x);
    --textarea-padding-y: var(--control-padding-y);
    
    --textarea-border-color: var(--control-border-color);
    --textarea-bg: var(--control-bg);
    --textarea-placeholder-color: var(--control-placeholder-color);
}