/** Command **/

:root {
    --command-radius: var(--menu-content-radius);
    --command-content-padding: var(--menu-content-padding);

    --command-bg: var(--popover);
    --command-fg: var(--popover-foreground);

    --command-input-wrapper-height: calc(var(--spacing) * 9);
    --command-input-wrapper-padding-x: calc(var(--spacing) * 3);
    --command-input-wrapper-bg: color-mix(in oklab, var(--input) 30%, transparent);
    --command-input-wrapper-border-color: color-mix(in oklab, var(--input) 30%, transparent);
    --command-input-icon-size: var(--icon-size);
    --command-input-icon-opacity: 0.5;

    --command-list-max-height: 300px;
    --command-list-scroll-padding-y: calc(var(--spacing) * 1);

    --command-empty-padding-y: calc(var(--spacing) * 6);

    --command-group-padding: var(--menu-content-padding);

    --command-group-heading-fg: var(--menu-label-fg);
    --command-group-heading-font-size: var(--menu-label-font-size);
    --command-group-heading-padding-x: var(--menu-label-padding-x);
    --command-group-heading-padding-y: var(--menu-label-padding-y);

    --command-separator-color: var(--menu-separator-color);
    --command-separator-height: var(--menu-separator-height);
    --command-separator-margin-x: var(--menu-separator-margin-x);

    --command-item-gap: var(--menu-item-gap);
    --command-item-radius: var(--menu-item-radius);
    --command-item-padding-x: var(--menu-item-padding-x);
    --command-item-padding-y: var(--menu-item-padding-y);
    --command-item-icon-size: var(--menu-item-icon-size);
    --command-item-selected-bg: var(--menu-item-selected-bg);
    --command-item-selected-fg: var(--menu-item-selected-fg);

    --command-shortcut-fg: var(--menu-shortcut-fg);
    --command-shortcut-selected-fg: var(--menu-shortcut-selected-fg);
}