/** Dropdown Menu **/

:root {
    --dropdown-content-min-width: var(--menu-content-min-width);
    --dropdown-content-radius: var(--menu-content-radius);
    --dropdown-content-border-color: var(--menu-content-border-color);
    --dropdown-content-padding: var(--menu-content-padding);
    --dropdown-content-side-offset: var(--menu-content-side-offset);

    --dropdown-item-gap: var(--menu-item-gap);
    --dropdown-item-radius: var(--menu-item-radius);
    --dropdown-item-padding-x: var(--menu-item-padding-x);
    --dropdown-item-padding-y: var(--menu-item-padding-y);
    --dropdown-item-inset-padding-left: calc(var(--spacing) * 8);
    --dropdown-item-indicator-offset-left: var(--spacing-base);
    --dropdown-item-indicator-size: var(--menu-item-indicator-size);
    --dropdown-item-icon-size: var(--menu-item-icon-size);

    --dropdown-label-fg: var(--menu-label-fg);
    --dropdown-label-font-size: var(--menu-label-font-size);
    --dropdown-label-padding-x: var(--menu-label-padding-x);
    --dropdown-label-padding-y: var(--menu-label-padding-y);

    --dropdown-separator-margin-x: var(--menu-separator-margin-x);
    --dropdown-separator-margin-y: var(--menu-separator-margin-y);
    --dropdown-separator-height: var(--menu-separator-height);
    --dropdown-separator-color: var(--menu-separator-color);

    --dropdown-shortcut-margin-left: auto;

    --dropdown-destructive-bg-focus: color-mix(in oklab, var(--destructive) 10%, transparent);
    --dropdown-destructive-fg-focus: var(--destructive);
}

.dark {
    --dropdown-destructive-bg-focus: color-mix(in oklab, var(--destructive) 20%, transparent);
}