/** Card **/

:root {
    --card-gap: var(--space-2xl);
    --card-radius: var(--radius-xl);
    --card-border-color: var(--border);
    --card-padding-x: var(--space-2xl);
    --card-padding-y: var(--space-2xl);

    --card-header-gap: var(--space-md);
}