:root {
    /* Height scale */
    --control-size-xs: var(--size-xs);
    --control-size-sm: var(--size-sm);
    --control-size-md: var(--size-md); /* Default height for form-fields and buttons */
    --control-size-lg: var(--size-lg);

    /* Gap scale */
    --control-gap-xs: var(--space-sm);
    --control-gap-sm: var(--space-sm);
    --control-gap-md: var(--space-md);
    --control-gap-lg: var(--space-md);

    /* Shared geometry */
    --control-radius-md: var(--radius-md);

    /* Shared spacing */
    --control-padding-x: var(--space-lg);
    --control-padding-y: var(--space-md);

    /* Shared Colors */
    --control-bg: transparent;
    --control-bg-hover: transparent;

    --control-border-color: var(--input);
    --control-border-color-focus: var(--ring);

    --control-placeholder-color: var(--muted-foreground);
}

.dark {
    /* Dark mode specific backgrounds */
    --control-bg: color-mix(in oklab, var(--input) 30%, transparent);
    --control-bg-hover: color-mix(in oklab, var(--input) 50%, transparent); /* Dùng cho hover states của button/select */
}