:root {
    --dialog-content-max-width: calc(100% - 2rem);
    --dialog-content-max-width-screen-sm: 32rem;

    --dialog-content-gap: var(--space-xl);
    --dialog-content-radius: var(--radius-lg);
    --dialog-content-padding: var(--space-2xl);

    --dialog-close-offset-top: var(--space-xl);
    --dialog-close-offset-right: var(--space-xl);

    --dialog-close-radius: var(--radius-xs);
    --dialog-close-opacity: 0.7;
    --dialog-close-opacity-hover: 1;
    --dialog-close-icon-size: var(--icon-size-md);

    --dialog-header-gap: var(--space-md);
    --dialog-footer-gap: var(--space-md);

    --dialog-content-border-color: var(--border);

    --dialog-overlay-bg: color-mix(in oklab, black 50%, transparent);
}
