:root {
  /* Shared sizes */
  --toggle-size: var(--icon-size-md);

  /* Shared Colors */
  --toggle-bg: transparent;
  --toggle-bg-checked: var(--primary);
  --toggle-fg-checked: var(--primary-foreground);

  --toggle-border-color: var(--input);
  --toggle-border-color-checked: var(--primary);

  --toggle-indicator-color: var(--primary);
}
