:root {
  /* Shared sizes */
  --toggle-size: var(--icon-size-md);

  /* Shared Colors */
  --toggle-bg: transparent;
  --toggle-border-color: var(--input);
}

.dark {
  --toggle-bg: color-mix(in oklab, var(--input) 30%, transparent);
}
