/** Alert Dialog **/

:root {
    --alert-dialog-overlay-bg: var(--dialog-overlay-bg);

    --alert-dialog-content-max-width: var(--dialog-content-max-width);
    --alert-dialog-content-max-width-screen-sm: var(--dialog-content-max-width-screen-sm);
    --alert-dialog-content-gap: var(--dialog-content-gap);
    --alert-dialog-content-radius: var(--dialog-content-radius);
    --alert-dialog-content-border-color: var(--dialog-content-border-color);
    --alert-dialog-content-padding: var(--dialog-content-padding);

    --alert-dialog-header-gap: var(--space-md);
    --alert-dialog-header-media-gap-x: var(--space-2xl);
    --alert-dialog-footer-gap: var(--space-md);

    --alert-dialog-media-size: var(--size-xl);
    --alert-dialog-media-margin-bottom: var(--space-md);
    --alert-dialog-media-radius: var(--radius-md);
    --alert-dialog-media-icon-size: var(--icon-size-xl);
}
