/** Alert **/

:root {
    --alert-gap-y: calc(var(--spacing) * 0.5);
    --alert-gap-x: var(--panel-gap-md);
    --alert-radius: var(--panel-radius-lg);
    --alert-border-color: var(--bg-border-color);
    --alert-padding-x: var(--panel-padding-sm);
    --alert-padding-y: var(--space-3);
    --alert-icon-size: var(--icon-md);
    --alert-icon-column-size: var(--icon-md);
    --alert-icon-translate-y: calc(var(--spacing) * 0.5);

    --alert-title-min-height: var(--space-4);
    --alert-description-gap: var(--panel-gap-xs);

    --alert-bg: var(--bg-page);
    --alert-fg: var(--fg-primary);
    --alert-destructive-fg: var(--fg-destructive);
    --alert-description-fg: var(--fg-muted);
    --alert-description-destructive-fg: var(--fg-destructive-soft);
}