/** Tooltip **/

:root {
    --tooltip-content-radius: var(--panel-radius-md);
    --tooltip-content-padding-x: var(--space-3);
    --tooltip-content-padding-y: var(--space-1-5);
    --tooltip-content-side-offset: 0px;

    --tooltip-arrow-size: var(--space-2-5);
    --tooltip-arrow-translate-y: calc(-50% - 2px);
    --tooltip-arrow-radius: 2px;
}