:root {
    --primary-hover: color-mix(in oklab, var(--primary) 80%, transparent);
    --primary-subtle: color-mix(in oklab, var(--primary) 20%, transparent);
    --primary-disabled: color-mix(in oklab, var(--primary) 50%, transparent);

    --secondary-hover: color-mix(in oklab, var(--secondary) 80%, transparent);
    --secondary-subtle: color-mix(in oklab, var(--secondary) 20%, transparent);
    --secondary-disabled: color-mix(in oklab, var(--secondary) 50%, transparent);

    --destructive-hover: color-mix(in oklab, var(--destructive) 40%, transparent);
    --destructive-subtle: color-mix(in oklab, var(--destructive) 20%, transparent);
    --destructive-disabled: color-mix(in oklab, var(--destructive) 50%, transparent);
}

.dark {
    --destructive-bg: color-mix(in oklab, var(--destructive) 20%, transparent);
    --destructive-bg-hover: color-mix(in oklab, var(--destructive) 30%, transparent);
}

@theme inline {
    --color-primary-hover: var(--primary-hover);
    --color-primary-subtle: var(--primary-subtle);
    --color-primary-disabled: var(--primary-disabled);

    --color-secondary-hover: var(--secondary-hover);
    --color-secondary-subtle: var(--secondary-subtle);
    --color-secondary-disabled: var(--secondary-disabled);

    --color-destructive-hover: var(--destructive-bg-hover);
    --color-destructive-subtle: var(--destructive-subtle);
    --color-destructive-disabled: var(--destructive-disabled);
}