:root {
    --menu-content-radius: var(--radius-md);

    --menu-content-min-width: calc(var(--spacing) * 32);
    --menu-content-border-color: var(--border);
    --menu-content-border-color-focus: var(--ring);
    --menu-content-bg: var(--background);
    --menu-content-padding: calc(var(--spacing) * 1);
    --menu-content-side-offset: calc(var(--spacing) * 1);

    --menu-label-fg: var(--muted-foreground);
    --menu-label-font-size: var(--text-sm);
    --menu-label-padding-x: calc(var(--spacing) * 2);
    --menu-label-padding-y: calc(var(--spacing) * 1.5);

    --menu-item-gap: calc(var(--spacing) * 2);
    --menu-item-radius: var(--radius-sm);
    --menu-item-padding-x: calc(var(--spacing) * 2);
    --menu-item-padding-y: calc(var(--spacing) * 1.5);
    --menu-item-icon-size: calc(var(--spacing) * 4);
    --menu-item-selected-bg: var(--muted);
    --menu-item-selected-fg: var(--foreground);

    --menu-separator-margin-x: calc(var(--spacing) * -1);
    --menu-separator-margin-y: calc(var(--spacing) * 1);
    --menu-separator-height: 1px;
    --menu-separator-color: var(--border);

    --menu-shortcut-fg: var(--muted-foreground);
    --menu-shortcut-selected-fg: var(--foreground);
}

