/** Primitive tokens **/

:root {
	/* Primitive spacing scale */
	--space-1: calc(var(--spacing) * 1);
	--space-1-5: calc(var(--spacing) * 1.5);
	--space-2: calc(var(--spacing) * 2);
	--space-2-5: calc(var(--spacing) * 2.5);
	--space-3: calc(var(--spacing) * 3);
	--space-3-5: calc(var(--spacing) * 3.5);
	--space-4: calc(var(--spacing) * 4);
	--space-6: calc(var(--spacing) * 6);
	--space-7: calc(var(--spacing) * 7);
	--space-8: calc(var(--spacing) * 8);
	--space-9: calc(var(--spacing) * 9);
	--space-16: calc(var(--spacing) * 16);

	/* Typography scale */
	--text-xs: 0.75rem;
	--text-sm: 0.875rem;
	--text-ui-sm: 0.8rem;

	/* Icon scale */
	--icon-xs: calc(var(--spacing) * 3);
	--icon-sm: calc(var(--spacing) * 3.5);
	--icon-md: calc(var(--spacing) * 4);
}