/** Button **/

:root {
	--button-radius: var(--radius-lg);
	--button-radius-xs: min(var(--radius-md), 10px);
	--button-radius-sm: min(var(--radius-md), 12px);
	--button-group-radius: var(--radius-lg);

	--button-text-size: 0.875rem;
	--button-text-size-xs: 0.75rem;
	--button-text-size-sm: 0.8rem;

	--button-focus-ring-width: 3px;
	--button-invalid-ring-width: 3px;
	--button-focus-ring-color: color-mix(in oklab, var(--ring) 50%, transparent);
	--button-invalid-ring-color: color-mix(in oklab, var(--destructive) 20%, transparent);
	--button-invalid-border-color: var(--destructive);

	--button-icon-size: calc(var(--spacing) * 4);
	--button-icon-size-xs: calc(var(--spacing) * 3);
	--button-icon-size-sm: calc(var(--spacing) * 3.5);

	--button-height: calc(var(--spacing) * 8);
	--button-height-xs: calc(var(--spacing) * 6);
	--button-height-sm: calc(var(--spacing) * 7);
	--button-height-lg: calc(var(--spacing) * 9);

	--button-gap: calc(var(--spacing) * 1.5);
	--button-gap-xs: calc(var(--spacing) * 1);
	--button-gap-sm: calc(var(--spacing) * 1);
	--button-gap-lg: calc(var(--spacing) * 1.5);

	--button-padding-x: calc(var(--spacing) * 2.5);
	--button-padding-x-xs: calc(var(--spacing) * 2);
	--button-padding-x-sm: calc(var(--spacing) * 2.5);
	--button-padding-x-lg: calc(var(--spacing) * 2.5);

	--button-padding-inline-start: calc(var(--spacing) * 2);
	--button-padding-inline-end: calc(var(--spacing) * 2);
	--button-padding-inline-start-xs: calc(var(--spacing) * 1.5);
	--button-padding-inline-end-xs: calc(var(--spacing) * 1.5);
	--button-padding-inline-start-sm: calc(var(--spacing) * 1.5);
	--button-padding-inline-end-sm: calc(var(--spacing) * 1.5);
	--button-padding-inline-start-lg: calc(var(--spacing) * 3);
	--button-padding-inline-end-lg: calc(var(--spacing) * 3);

	--button-size-icon: calc(var(--spacing) * 8);
	--button-size-icon-xs: calc(var(--spacing) * 6);
	--button-size-icon-sm: calc(var(--spacing) * 7);
	--button-size-icon-lg: calc(var(--spacing) * 9);

	--button-outline-bg: var(--background);
	--button-outline-border-color: var(--border);
	--button-outline-hover-bg: var(--muted);

	--button-ghost-hover-bg: var(--muted);

	--button-destructive-bg: color-mix(in oklab, var(--destructive) 10%, transparent);
	--button-destructive-hover-bg: color-mix(in oklab, var(--destructive) 20%, transparent);
	--button-destructive-focus-ring-color: color-mix(in oklab, var(--destructive) 20%, transparent);
	--button-destructive-focus-border-color: color-mix(in oklab, var(--destructive) 40%, transparent);
}

.dark {
	--button-invalid-ring-color: color-mix(in oklab, var(--destructive) 40%, transparent);
	--button-invalid-border-color: color-mix(in oklab, var(--destructive) 50%, transparent);

	--button-outline-bg: color-mix(in oklab, var(--input) 30%, transparent);
	--button-outline-border-color: var(--input);
	--button-outline-hover-bg: color-mix(in oklab, var(--input) 50%, transparent);

	--button-ghost-hover-bg: color-mix(in oklab, var(--muted) 50%, transparent);

	--button-destructive-bg: color-mix(in oklab, var(--destructive) 20%, transparent);
	--button-destructive-hover-bg: color-mix(in oklab, var(--destructive) 30%, transparent);
	--button-destructive-focus-ring-color: color-mix(in oklab, var(--destructive) 40%, transparent);
}
