/** Alert Dialog **/

:root {
    --alert-dialog-overlay-bg: color-mix(in oklab, black 50%, transparent);

    --alert-dialog-content-max-width: calc(100% - 2rem);
    --alert-dialog-content-max-width-sm: 20rem;
    --alert-dialog-content-max-width-default-sm: 32rem;
    --alert-dialog-content-gap: calc(var(--spacing) * 4);
    --alert-dialog-content-radius: var(--radius-lg);
    --alert-dialog-content-border-color: var(--border);
    --alert-dialog-content-padding: calc(var(--spacing) * 6);

    --alert-dialog-header-gap: calc(var(--spacing) * 1.5);
    --alert-dialog-header-media-gap-x: calc(var(--spacing) * 6);
    --alert-dialog-footer-gap: calc(var(--spacing) * 2);

    --alert-dialog-media-size: calc(var(--spacing) * 16);
    --alert-dialog-media-margin-bottom: calc(var(--spacing) * 2);
    --alert-dialog-media-radius: var(--radius-md);
    --alert-dialog-media-icon-size: calc(var(--spacing) * 8);
}