/** Popover **/

:root {
    --popover-content-width: calc(var(--spacing) * 72);
    --popover-content-padding: calc(var(--spacing) * 4);
    --popover-header-gap: calc(var(--spacing) * 1);

    --popover-content-radius: var(--radius-md);
    --popover-content-border-color: var(--border);
}