/** Avatar **/

:root {
    --avatar-size: var(--control-height);
    --avatar-size-sm: var(--control-height-sm);
    --avatar-size-lg: var(--control-height-lg);
    --avatar-ring-width: 2px;
    --avatar-ring-color: var(--background);

    --avatar-icon-size: var(--control-icon-size);
    --avatar-icon-size-sm: var(--control-icon-size-sm);
    --avatar-icon-size-lg: var(--control-icon-size-lg);

    --avatar-badge-size-sm: calc(var(--spacing) * 2);
    --avatar-badge-size: calc(var(--spacing) * 2.5);
    --avatar-badge-size-lg: calc(var(--spacing) * 3);
    --avatar-badge-icon-size: calc(var(--spacing) * 2);

    --avatar-group-space-x: calc(var(--spacing) * -2);
}