/** Calendar **/

:root {
    --calendar-padding: calc(var(--spacing) * 3);
    --calendar-cell-size: calc(var(--spacing) * 8);
    --calendar-months-gap: calc(var(--spacing) * 4);
    --calendar-month-gap: calc(var(--spacing) * 4);
    --calendar-nav-gap: calc(var(--spacing) * 1);
    --calendar-dropdown-gap: calc(var(--spacing) * 1.5);
    --calendar-dropdown-radius: var(--radius-md);
    --calendar-dropdown-border-color: var(--input);
    --calendar-dropdown-focus-border-color: var(--ring);
    --calendar-dropdown-focus-ring-width: 3px;
    --calendar-dropdown-focus-ring-color: color-mix(in oklab, var(--ring) 50%, transparent);
    --calendar-caption-icon-size: calc(var(--spacing) * 3.5);
    --calendar-nav-icon-size: calc(var(--spacing) * 4);
    --calendar-week-margin-top: calc(var(--spacing) * 2);
    --calendar-range-radius: var(--radius-md);
    --calendar-day-button-gap: calc(var(--spacing) * 1);
    --calendar-day-button-ring-width: 3px;
    --calendar-day-button-ring-color: color-mix(in oklab, var(--ring) 50%, transparent);
    --calendar-weekday-radius: var(--radius-md);
    --calendar-weekday-text-size: 0.8rem;
    --calendar-week-number-text-size: 0.8rem;
}