/** Checkbox **/

:root {
    --checkbox-size: var(--selection-size);
    --checkbox-radius: var(--selection-radius);
    --checkbox-border-color: var(--selection-border-color);
    --checkbox-bg: var(--selection-bg);
    --checkbox-indicator-size: var(--selection-indicator-size);

    --checkbox-focus-border-color: var(--selection-focus-border-color);
    --checkbox-focus-ring-width: var(--selection-focus-ring-width);
    --checkbox-focus-ring-color: var(--selection-focus-ring-color);

    --checkbox-invalid-border-color: var(--selection-invalid-border-color);
    --checkbox-invalid-ring-color: var(--selection-invalid-ring-color);

    --checkbox-checked-border-color: var(--selection-checked-border-color);
    --checkbox-checked-bg: var(--selection-checked-bg);
    --checkbox-checked-fg: var(--selection-checked-fg);
}