/** Checkbox **/

:root {
    --checkbox-size: var(--selection-control-size);
    --checkbox-radius: var(--selection-control-radius);
    --checkbox-border-color: var(--selection-border-color);
    --checkbox-bg: var(--selection-surface);
    --checkbox-indicator-size: var(--selection-control-indicator-size);

    --checkbox-focus-border-color: var(--selection-border-focus);
    --checkbox-focus-ring-width: var(--selection-ring-focus-width);
    --checkbox-focus-ring-color: var(--selection-ring-focus-color);

    --checkbox-invalid-border-color: var(--selection-border-invalid);
    --checkbox-invalid-ring-color: var(--selection-ring-invalid-color);

    --checkbox-checked-border-color: var(--selection-border-checked);
    --checkbox-checked-bg: var(--selection-surface-checked);
    --checkbox-checked-fg: var(--selection-checked-fg);
}