/** Checkbox **/

:root {
    --checkbox-size: var(--selection-control-size);
    --checkbox-radius: var(--selection-control-radius);
    --checkbox-border-color: var(--border-selection);
    --checkbox-bg: var(--surface-selection-bg);
    --checkbox-indicator-size: var(--selection-control-indicator-size);

    --checkbox-focus-border-color: var(--border-selection-focus);
    --checkbox-focus-ring-width: var(--ring-selection-focus-width);
    --checkbox-focus-ring-color: var(--ring-selection-focus-color);

    --checkbox-invalid-border-color: var(--border-selection-invalid);
    --checkbox-invalid-ring-color: var(--ring-selection-invalid-color);

    --checkbox-checked-border-color: var(--border-selection-checked);
    --checkbox-checked-bg: var(--surface-selection-checked-bg);
    --checkbox-checked-fg: var(--text-selection-checked);
}