/** Command **/

:root {
    --command-radius: var(--panel-radius-md);

    --command-dialog-content-padding: 0px;
    --command-dialog-input-wrapper-height: calc(var(--spacing) * 12);
    --command-dialog-group-heading-padding-x: var(--menu-label-padding-inline);
    --command-dialog-group-padding-x: var(--menu-item-padding-inline);
    --command-dialog-input-icon-size: calc(var(--spacing) * 5);
    --command-dialog-input-height: calc(var(--spacing) * 12);
    --command-dialog-item-padding-x: var(--menu-item-padding-inline);
    --command-dialog-item-padding-y: var(--space-3);
    --command-dialog-item-icon-size: calc(var(--spacing) * 5);

    --command-input-wrapper-height: var(--field-height-md);
    --command-input-wrapper-gap: var(--menu-item-gap);
    --command-input-wrapper-border-color: var(--bg-border-color);
    --command-input-wrapper-padding-x: var(--field-padding-inline);
    --command-input-icon-size: var(--icon-md);
    --command-input-icon-opacity: 0.5;
    --command-input-height: calc(var(--spacing) * 10);
    --command-input-padding-y: var(--space-3);

    --command-list-max-height: 300px;
    --command-list-scroll-padding-y: var(--menu-content-padding);

    --command-empty-padding-y: var(--space-6);

    --command-group-padding: var(--menu-content-padding);
    --command-group-heading-padding-x: var(--menu-label-padding-inline);
    --command-group-heading-padding-y: var(--menu-label-padding-block);

    --command-separator-margin-x: var(--menu-separator-margin-inline);
    --command-separator-height: var(--menu-separator-height);
    --command-separator-color: var(--bg-border-color);

    --command-item-gap: var(--menu-item-gap);
    --command-item-radius: var(--menu-item-radius);
    --command-item-padding-x: var(--menu-item-padding-inline);
    --command-item-padding-y: var(--menu-item-padding-block);
    --command-item-icon-size: var(--menu-item-icon-size);

    --command-bg: var(--bg-popover);
    --command-fg: var(--fg-popover-contrast);
    --command-muted-fg: var(--menu-fg-muted);
    --command-item-active-bg: var(--menu-item-active-bg);
    --command-item-active-fg: var(--menu-item-active-fg);
}