/** Input OTP **/

:root {
    --input-otp-gap: var(--control-gap-md);

    --input-otp-slot-size: var(--control-size-lg);
    --input-otp-slot-radius: var(--field-radius);
    --input-otp-slot-border-color: var(--field-border-color);
    --input-otp-slot-bg: var(--field-surface);

    --input-otp-slot-active-border-color: var(--field-border-focus);
    --input-otp-slot-active-ring-width: var(--field-ring-focus-width);
    --input-otp-slot-active-ring-color: var(--field-ring-focus-color);

    --input-otp-slot-invalid-border-color: var(--field-border-invalid);
    --input-otp-slot-invalid-ring-color: var(--field-ring-invalid-color);

    --input-otp-caret-height: var(--space-4);
    --input-otp-caret-width: 1px;
    --input-otp-caret-color: var(--fg-primary);
}