/** Input **/

:root {
    --input-height: var(--field-height-md);
    --input-radius: var(--field-radius);
    --input-padding-x: var(--field-padding-x);
    --input-padding-y: var(--field-padding-y);
    --input-border-color: var(--border-field);
    --input-bg: var(--surface-field-bg);
    --input-placeholder-color: var(--text-field-placeholder);
    --input-file-height: var(--field-height-sm);

    --input-focus-border-color: var(--border-field-focus);
    --input-focus-ring-width: var(--ring-field-focus-width);
    --input-focus-ring-color: var(--ring-field-focus-color);

    --input-invalid-border-color: var(--border-field-invalid);
    --input-invalid-ring-color: var(--ring-field-invalid-color);
}