/** Input OTP **/

:root {
    --input-otp-gap: calc(var(--spacing) * 2);

    --input-otp-slot-size: calc(var(--spacing) * 9);
    --input-otp-slot-radius: var(--radius-md);
    --input-otp-slot-border-color: var(--input);
    --input-otp-slot-bg: transparent;

    --input-otp-slot-active-border-color: var(--ring);
    --input-otp-slot-active-ring-width: 3px;
    --input-otp-slot-active-ring-color: color-mix(in oklab, var(--ring) 50%, transparent);

    --input-otp-slot-invalid-border-color: var(--destructive);
    --input-otp-slot-invalid-ring-color: color-mix(in oklab, var(--destructive) 20%, transparent);

    --input-otp-caret-height: calc(var(--spacing) * 4);
    --input-otp-caret-width: 1px;
}

.dark {
    --input-otp-slot-bg: color-mix(in oklab, var(--input) 30%, transparent);
    --input-otp-slot-invalid-ring-color: color-mix(in oklab, var(--destructive) 40%, transparent);
}