/** Radio Group **/

:root {
    --radio-group-gap: var(--selection-gap);

    --radio-size: var(--selection-size);
    --radio-radius: var(--selection-radius-full);
    --radio-border-color: var(--selection-border-color);
    --radio-bg: var(--selection-bg);
    --radio-color: var(--selection-indicator-fg);

    --radio-focus-border-color: var(--selection-focus-border-color);
    --radio-focus-ring-width: var(--selection-focus-ring-width);
    --radio-focus-ring-color: var(--selection-focus-ring-color);

    --radio-invalid-border-color: var(--selection-invalid-border-color);
    --radio-invalid-ring-color: var(--selection-invalid-ring-color);

    --radio-indicator-size: var(--space-2);
    --radio-indicator-color: var(--selection-indicator-fg);
}