/** Radio Group **/

:root {
    --radio-group-gap: var(--selection-control-gap);

    --radio-size: var(--selection-control-size);
    --radio-radius: var(--selection-control-radius-full);
    --radio-border-color: var(--border-selection);
    --radio-bg: var(--surface-selection-bg);
    --radio-color: var(--text-selection-brand);

    --radio-focus-border-color: var(--border-selection-focus);
    --radio-focus-ring-width: var(--ring-selection-focus-width);
    --radio-focus-ring-color: var(--ring-selection-focus-color);

    --radio-invalid-border-color: var(--border-selection-invalid);
    --radio-invalid-ring-color: var(--ring-selection-invalid-color);

    --radio-indicator-size: var(--space-2);
    --radio-indicator-color: var(--text-selection-brand);
}