/** Select **/

:root {
    --select-trigger-gap: calc(var(--spacing) * 2);
    --select-trigger-radius: var(--radius-md);
    --select-trigger-border-color: var(--input);
    --select-trigger-bg: transparent;
    --select-trigger-bg-hover: transparent;
    --select-trigger-padding-x: calc(var(--spacing) * 3);
    --select-trigger-padding-y: calc(var(--spacing) * 2);
    --select-trigger-height: calc(var(--spacing) * 9);
    --select-trigger-height-sm: calc(var(--spacing) * 8);
    --select-trigger-placeholder-color: var(--muted-foreground);

    --select-trigger-focus-border-color: var(--ring);
    --select-trigger-focus-ring-width: 3px;
    --select-trigger-focus-ring-color: color-mix(in oklab, var(--ring) 50%, transparent);

    --select-trigger-invalid-border-color: var(--destructive);
    --select-trigger-invalid-ring-color: color-mix(in oklab, var(--destructive) 20%, transparent);

    --select-icon-size: calc(var(--spacing) * 4);
    --select-icon-opacity: 0.5;

    --select-content-min-width: calc(var(--spacing) * 32);
    --select-content-radius: var(--radius-md);
    --select-content-border-color: var(--border);

    --select-content-offset: calc(var(--spacing) * 1);
    --select-content-offset-negative: calc(var(--spacing) * -1);
    --select-viewport-padding: calc(var(--spacing) * 1);

    --select-label-padding-x: calc(var(--spacing) * 2);
    --select-label-padding-y: calc(var(--spacing) * 1.5);

    --select-item-gap: calc(var(--spacing) * 2);
    --select-item-radius: var(--radius-sm);
    --select-item-padding-y: calc(var(--spacing) * 1.5);
    --select-item-padding-right: calc(var(--spacing) * 8);
    --select-item-padding-left: calc(var(--spacing) * 2);

    --select-item-indicator-offset-right: calc(var(--spacing) * 2);
    --select-item-indicator-size: calc(var(--spacing) * 3.5);

    --select-separator-margin-x: calc(var(--spacing) * -1);
    --select-separator-margin-y: calc(var(--spacing) * 1);
    --select-separator-height: 1px;
    --select-separator-color: var(--border);

    --select-scroll-button-padding-y: calc(var(--spacing) * 1);
}

.dark {
    --select-trigger-bg: color-mix(in oklab, var(--input) 30%, transparent);
    --select-trigger-bg-hover: color-mix(in oklab, var(--input) 50%, transparent);
    --select-trigger-invalid-ring-color: color-mix(in oklab, var(--destructive) 40%, transparent);
}