/** Switch **/

:root {
    --switch-radius: var(--selection-control-radius-full);
    --switch-border-color: transparent;

    --switch-focus-border-color: var(--selection-border-focus);
    --switch-focus-ring-width: var(--selection-ring-focus-width);
    --switch-focus-ring-color: var(--selection-ring-focus-color);

    --switch-track-height: var(--selection-switch-track-height-md);
    --switch-track-width: var(--selection-switch-track-width-md);
    --switch-track-height-sm: var(--selection-switch-track-height-sm);
    --switch-track-width-sm: var(--selection-switch-track-width-sm);

    --switch-track-checked-bg: var(--selection-surface-checked);
    --switch-track-unchecked-bg: var(--switch-track-surface-unchecked);

    --switch-thumb-size: var(--selection-switch-thumb-size-md);
    --switch-thumb-size-sm: var(--selection-switch-thumb-size-sm);
    --switch-thumb-bg: var(--switch-thumb-surface);
    --switch-thumb-checked-bg: var(--switch-thumb-surface);
    --switch-thumb-unchecked-bg: var(--switch-thumb-surface);
    --switch-thumb-translate-checked: calc(100% - 2px);
    --switch-thumb-translate-unchecked: 0px;
}