/** Textarea **/

:root {
    --textarea-min-height: var(--field-min-height-lg);
    --textarea-radius: var(--field-radius);
    --textarea-padding-x: var(--field-padding-x);
    --textarea-padding-y: var(--field-padding-y-comfortable);
    --textarea-border-color: var(--border-field);
    --textarea-bg: var(--surface-field-bg);
    --textarea-placeholder-color: var(--text-field-placeholder);

    --textarea-focus-border-color: var(--border-field-focus);
    --textarea-focus-ring-width: var(--ring-field-focus-width);
    --textarea-focus-ring-color: var(--ring-field-focus-color);

    --textarea-invalid-border-color: var(--border-field-invalid);
    --textarea-invalid-ring-color: var(--ring-field-invalid-color);
}