/** Badge **/

:root {
    --badge-gap: var(--space-1);
    --badge-radius: var(--selection-control-radius-full);
    --badge-border-color: transparent;
    --badge-padding-x: var(--space-2);
    --badge-padding-y: calc(var(--spacing) * 0.5);
    --badge-icon-size: var(--icon-xs);

    --badge-focus-border-color: var(--border-field-focus);
    --badge-focus-ring-width: var(--ring-focus-width);
    --badge-focus-ring-color: var(--ring-focus-color);

    --badge-invalid-border-color: var(--border-field-invalid);
    --badge-invalid-ring-color: var(--ring-field-invalid-color);

    --badge-primary-bg: var(--surface-brand-solid);
    --badge-primary-fg: var(--text-on-brand-solid);
    --badge-primary-hover-bg: var(--surface-brand-solid-hover);

    --badge-secondary-bg: var(--surface-secondary-solid);
    --badge-secondary-fg: var(--text-on-secondary-solid);
    --badge-secondary-hover-bg: var(--surface-secondary-solid-hover);

    --badge-destructive-bg: var(--surface-danger-solid);
    --badge-destructive-fg: var(--text-on-danger-solid);
    --badge-destructive-hover-bg: var(--surface-danger-solid-hover);
    --badge-destructive-focus-ring: var(--ring-destructive-soft-color);

    --badge-outline-border-color: var(--border-surface);
    --badge-outline-fg: var(--text-strong);
    --badge-outline-hover-bg: var(--surface-accent-subtle);
    --badge-outline-hover-fg: var(--text-on-accent-subtle);

    --badge-ghost-hover-bg: var(--surface-accent-subtle);
    --badge-ghost-hover-fg: var(--text-on-accent-subtle);

    --badge-link-fg: var(--text-link-brand);
}