/** Card **/

:root {
    --card-gap: var(--panel-gap-lg);
    --card-radius: var(--panel-radius-xl);
    --card-border-color: var(--border-surface);
    --card-padding-x: var(--panel-padding-lg);
    --card-padding-y: var(--panel-padding-lg);

    --card-header-gap: var(--panel-gap-sm);
}