/** Checkbox **/

:root {
    --checkbox-size: var(--toggle-size);
    --checkbox-radius: 4px;
    --checkbox-border-color: var(--toggle-border-color);
    --checkbox-bg: var(--toggle-bg);
    --checkbox-indicator-size: calc(var(--spacing) * 3.5);

    --checkbox-border-color-focus: var(--toggle-border-color-focus);
    --checkbox-ring-width-focus: var(--toggle-ring-width-focus);

    --checkbox-border-color-invalid: var(--toggle-border-color-invalid);
    --checkbox-ring-color-invalid: var(--toggle-ring-color-invalid);

    --checkbox-checked-border-color: var(--primary);
    --checkbox-checked-bg: var(--primary);
    --checkbox-checked-fg: var(--primary-foreground);
}