/** Checkbox **/

:root {
    --checkbox-size: var(--toggle-size);
    --checkbox-radius: var(--radius-xs);
    --checkbox-border-color: var(--toggle-border-color);
    --checkbox-bg: var(--toggle-bg);
    --checkbox-indicator-size: var(--icon-size-md);

    --checkbox-checked-border-color: var(--primary);
    --checkbox-checked-bg: var(--primary);
    --checkbox-checked-fg: var(--primary-foreground);
}