/** Checkbox **/

:root {
    --checkbox-size: calc(var(--spacing) * 4);
    --checkbox-radius: 4px;
    --checkbox-border-color: var(--input);
    --checkbox-bg: transparent;
    --checkbox-indicator-size: calc(var(--spacing) * 3.5);

    --checkbox-border-color-focus: var(--ring);
    --checkbox-ring-width-focus: 3px;
    --checkbox-ring-color-focus: color-mix(in oklab, var(--ring) 50%, transparent);

    --checkbox-border-color-invalid: var(--destructive);
    --checkbox-ring-color-invalid: color-mix(in oklab, var(--destructive) 20%, transparent);

    --checkbox-checked-border-color: var(--primary);
    --checkbox-checked-bg: var(--primary);
    --checkbox-checked-fg: var(--primary-foreground);
}

.dark {
    --checkbox-bg: color-mix(in oklab, var(--input) 30%, transparent);
    --checkbox-ring-color-invalid: color-mix(in oklab, var(--destructive) 40%, transparent);
}