/** Radio Group **/

:root {
    --radio-size: var(--toggle-size);
    --radio-radius: var(--radius-full);
    --radio-border-color: var(--toggle-border-color);
    --radio-bg: var(--toggle-bg);
    --radio-color: var(--primary);

    --radio-border-color-invalid: var(--toggle-border-color-invalid);
    --radio-ring-color-invalid: var(--toggle-ring-color-invalid);
    
    --radio-group-gap: var(--space-md);

    --radio-indicator-size: var(--icon-size-xs);
    --radio-indicator-color: var(--primary);
}