/** Radio Group **/

:root {
    --radio-group-gap: calc(var(--spacing) * 3);

    --radio-size: var(--toggle-size);
    --radio-radius: 9999px;
    --radio-border-color: var(--toggle-border-color);
    --radio-bg: var(--toggle-bg);
    --radio-color: var(--primary);

    --radio-border-color-focus: var(--toggle-border-color-focus);
    --radio-ring-width-focus: var(--toggle-ring-width-focus);
    
    --radio-border-color-invalid: var(--toggle-border-color-invalid);
    --radio-ring-color-invalid: var(--toggle-ring-color-invalid);

    --radio-indicator-size: var(--spacing-base);
    --radio-indicator-color: var(--primary);
}