/** Switch **/

:root {
    --switch-radius: var(--radius-full);
    --switch-border-color: transparent;

    --switch-thumb-size: var(--toggle-size);
    --switch-thumb-bg: var(--background);
    --switch-thumb-bg-checked-dark: var(--primary-foreground);
    --switch-thumb-bg-unchecked-dark: var(--foreground);
    --switch-thumb-translate-checked: calc(100% - 2px);
    --switch-thumb-translate-unchecked: 0px;
    
    --switch-track-height: calc(var(--switch-thumb-size) + 4px);
    --switch-track-width: calc(var(--switch-thumb-size) * 2);

    --switch-track-bg-checked: var(--primary);
    --switch-track-bg-unchecked: var(--input);
}

.dark {
    --switch-track-bg-unchecked: color-mix(in oklab, var(--input) 80%, transparent);
}