/** Switch **/

:root {
    --switch-radius: 9999px;
    --switch-border-color: transparent;

    --switch--border-color-focus: var(--toggle-border-color-focus);
    --switch--ring-width-focus: var(--toggle-ring-width-focus);
    --switch--ring-color-focus: var(--toggle-ring-color-focus);

    --switch-track-height: 1.15rem;
    --switch-track-width: calc(var(--spacing) * 8);
    --switch-track-height-sm: calc(var(--spacing) * 3.5);
    --switch-track-width-sm: calc(var(--spacing) * 6);

    --switch-track-bg-checked: var(--primary);
    --switch-track-bg-unchecked: var(--input);

    --switch-thumb-size: var(--toggle-size);
    --switch-thumb-size-sm: calc(var(--spacing) * 3);
    --switch-thumb-bg: var(--background);
    --switch-thumb-bg-checked-dark: var(--primary-foreground);
    --switch-thumb-bg-unchecked-dark: var(--foreground);
    --switch-thumb-translate-checked: calc(100% - 2px);
    --switch-thumb-translate-unchecked: 0px;
}

.dark {
    --switch-track-bg-unchecked: color-mix(in oklab, var(--input) 80%, transparent);
}